body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
}

header{
    background:#0d6efd;
    color:white;
    text-align:center;
    padding:30px;
}

section{
    background:white;
    margin:10px;
    padding:15px;
    border-radius:8px;
}